### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### HTTPS Certificates ###
certificate/*.crt
certificate/*.key
certificate/*.pem

### Firmware ###
firmware/*.zip

### Backup ###
backup/backup*
