### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/*

### HTTPS Certificates ###
certificate/*.crt
certificate/*.key
certificate/*.pem

### Firmware ###
firmware/*.zip

### Backup ###
backup/backup*
